{% load static %}
<html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<body>
<nav class ="navbar navbar-expand-lg bg-secondary" >
<ul class ="nav nav-tabs">
<a class="navbar-brand" style="color:white;text-size:40px;">
    <img src={% static 'images/logo.jpg' %} width="30" height="30" class="d-inline-block align-top" alt="">
    Expense Manager
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse">
<li class ="nav-item">
<a class ="nav-link" href="/budget/home" style="color:white;"> My Expenses </a>
</li>
<li class ="nav-item">
<a class ="nav-link" href="/budget/home/add_expense" style="color:white;"> Add Expense </a>
</li>
<li class ="nav-item">
<a class ="nav-link" href="/budget/home/change_budget" style="color:white;"> Change Budget </a>
</li>
</ul>
</nav>
<div>
{% block content %}
{% endblock %}
</div>
</body>
</html>