{% extends 'budget_app/base.html' %}
{% block content %}
<html>
<body>
<form method='POST'>
    {% csrf_token %}
    <div class="col d-flex justify-content-center pt-5">
    <div class="card" style="width: 25rem;height:15rem;background-color:#5b7deb;">
        <div class="card-body">
            <h4>Are you sure you want to delete the expense?</h4><br>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>          
            </div>
        </div>
    </div>
</div>

</form>
</body>
</html>
{% endblock %}